/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.svg-background-element {
    background-image: url('./protruding-squares.svg');
    background-size: cover; /* Adjust this to control how the SVG is scaled */
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f5f5f5;
}


.product-card {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.product-details {
  padding: 20px;
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.product-description {
  margin-top: 10px;
  color: #666;
}

.product-price {
  margin-top: 10px;
  font-weight: bold;
  color: #17a2b8;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #138496;
}



.palette1 {
  background-color: rgba(237, 237, 233, 1);
}

.palette2 {
  background-color: rgba(214, 204, 194, 1);
}

.palette3 {
  background-color: rgba(245, 235, 224, 1);
}

.palette4 {
  background-color: rgba(227, 213, 202, 1);
}

.palette5 {
  background-color: rgba(213, 189, 175, 1);
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.banner-container {
  position: relative;
  width: 100%;
  background-color: #f8f9fa;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.banner-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 50%;
  background-size: cover;
  background-position: center;
}